*{
    font-family: 'Urbanist', sans-serif;
    box-sizing: border-box;
}

img {
    width: 50%;
}

header{
    background-color: #8D99AE;
}

body{
    margin: 0;
    padding: 0;
    background-color: #8D99AE;
    padding-bottom: 24px;
}

main{
    position: relative
}

nav{
    margin: auto;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 96px;
    gap: 34px;
    /* width: 1536px; */
    height: 190px;
   
    
    
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}


.menu {
    display: flex;
    gap: 38px;
}

.logo-mini{
    width: 68px;
    height: 110px;
    object-fit: cover;
}

a{
    text-decoration: none;
    color:#2B2D42;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
}

.page:hover{
    font-weight: bolder;
}

.Logo {
    width: 55%;
    -webkit-animation: focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}



.Nombre {
    width: 45%;
    rotate: 90;
    margin-top: 2%;
    margin-left: 2%;
    animation-duration: 3s;
    animation-name: fade-in;
    -webkit-animation: focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    
}


	


h1{
    font-size: 132px;
    font-weight: normal;
    font-weight: 400;
    line-height: 170px;
    color: #2B2D42;
    margin: 0%;
    margin-left: 5%;
    padding-right: 0%;
}

h2{
    font-size: 48px;
    font-weight: lighter;
    color: #2B2D42;
    margin-left: 5%;
    
}

body{
    background-color: #8D99AE;
}


.intro{
    display: flex;
    flex-direction: row;
    width: 100%;
}

 @-webkit-keyframes focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  

  

 
